@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("jay-mantri-forest.jpg");
}

.App {
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
    padding: 5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 50px;
    color: #303030;
}

form {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
.sort-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-button {
    background-color: #75ba6c;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.add-todo-button:hover, .sort-button:hover {
    background: #639c5c;
    color: white;
}

.add-todo-button {
    background-color: #75ba6c;
    padding: 1.3em 2rem;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.delete-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

/* FORM */
.add-todo-input, .add-todo-input:focus {
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    border: 1px solid #555555;
    outline: none;
}

/* LIST */
.todo-list {
    width: 100%;
    align-items: center;
    display: flex;
}

.todo-list-item {
    max-width: 500px;
}

.todo-item {
    padding: 0.5rem;
}

.todo {
    overflow-wrap: break-word;
    line-height: 1.6;
    padding: 0 1rem;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #75ba6c;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 6px;
}

/* OTHER */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
